<div class="wedget__box">
    <div class="wedget__box-title">
        <h1>Icon</h1>
    </div>
    <div class="wedget__box-content">
        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Basis</h1>
            </div>
            <div class="wedget__box-content">
                <ripple-icon trigger="trigger" primary-color="#eee" accent-color="#000"></ripple-icon>
                <hr>
                <button ng-click="onClickMouseEnter()" class="btn btn-primary">mouse enter</button>
                <button ng-click="onClickMouseLeave()" class="btn btn-primary">mouse leave</button>
            </div>
        </div>
    </div>
</div>