@import '../../../styles/variable';
.icon {
    &-ripple {
        // common
        $border: 1px;
        // circle
        $width: 10vw;
        // line
        $line-offset-width: 3vw;
        $line-height: .6vw;
        
        &__container {
            display: inline-block;
            margin: $primary-margin;
        }
        &__circle {
            position: relative;
            width: $width;
            height: $width;
            border: $border solid $accent-color;
            border-radius: 50%;
            background-color: $accent-color;
            background-clip: content-box;
            padding: calc(#{$width} / 2 - #{$border});
            &:hover {
                padding: 0;
                transition: padding $fast-animation-duration;
            }
        }
        &__line {
            height: $line-height;
            width: $width - $line-offset-width;
            background-color: $primary-color;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -($width - $line-offset-width)/2;
            margin-top: -$line-height/2;

            &--vertical {
                @extend .icon-ripple__line;
                transform: rotate(90deg);
            }
        }
    }
}