@import '../../styles/variable';


left-sidebar {
    $bgColor: lighten($primary-color, 2%);
    $bgHoverColor: $primary-color-dark;
    $borderLeftColor: $accent-color;

    transition: width $primary-animation-duration;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0,0,0,.26);


    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            a {
                border-left: 2px transparent solid;
                color: $primary-color-text;
                display: block;
                padding: 6px;

                transition: border-left $primary-animation-duration, background-color $primary-animation-duration;
            }
            a:hover {
                background-color: $bgHoverColor;
                border-left: 2px $borderLeftColor solid;
                color: $primary-color-text;
                text-decoration: none;
            }
            a:focus {
                color: $primary-color-text;
                text-decoration: none;
            }
            a.active {
                background-color: $bgHoverColor;
                border-left: 2px $borderLeftColor solid;
            }
        }
    }

    > ul {
        background-color: $bgColor;
        overflow: scroll; 
        height: 100%;
    }

    .left-sidebar__arrow {
        transition: border-radius $primary-animation-duration;
        
        background-color: darken($primary-color, 2%);

        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 100%;
        
        display: flex;
        vertical-align: middle;
        align-items: center;

        cursor: w-resize;
        
        padding-left: 2px;
        padding-right: 2px;
        
        border-radius: 10px 0 0 10px;

        > div {
            transition:transform $primary-animation-duration;
            > i {
                color: $primary-color-text;
            }
        }
    }
}