<div class="wedget__box">
    <div class="wedget__box-title">
        <h1>Dropdown</h1>
    </div>
    <div class="wedget__box-content">
        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Basis & Dropdown header</h1>
            </div>
            <div class="wedget__box-content">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </div>
                <div class="wedget__quote">
                    wrapper add class <span class="alert alert-info">.dropdown</span>
                    <hr> button add class <span class="alert alert-info">.dropdown-toggle</span>
                    <hr> button add attr <span class="alert alert-info">data-toggle="dropdown"</span>
                    <hr> content wrapper add class <span class="alert alert-info">.dropdown-menu</span>
                </div>
            </div>
        </div>

        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Alignment</h1>
            </div>
            <div class="wedget__box-content">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Alignment
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="display: inline-block; margin-top: 15px; margin-left: 100px;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Alignment
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </div>
                <div class="wedget__quote">
                    add class <span class="alert alert-info">.dropdown-menu-right</span>
                    <hr> notice that the origin of dropdown based on the parent <span class="alert alert-info">.dropdown</span>
                </div>
            </div>
        </div>

        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Dropup</h1>
            </div>
            <div class="wedget__box-content">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropup
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="">Action</a></li>
                        <li><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </div>
                <div class="wedget__quote">
                    change <span class="alert alert-info">.dropdown</span> to <span class="alert alert-info">.dropup</span>
                </div>
            </div>
        </div>

        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Sizing</h1>
            </div>
            <div class="wedget__box-content">
                <p>
                    <div class="dropdown">
                        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                        </ul>
                    </div>
                </p>
                <p>
                    <div class="dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="">Action</a></li>
                            <li><a href="">Another action</a></li>
                            <li><a href="">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="">Separated link</a></li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>

        <div class="wedget__box">
            <div class="wedget__box-title">
                <h1>Disabled</h1>
            </div>
            <div class="wedget__box-content">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="">Action</a></li>
                        <li class="disabled"><a href="">Another action</a></li>
                        <li><a href="">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>